@import "../../app/bower_components/foundation/scss/normalize";
@import "../../app/bower_components/foundation/scss/foundation";
html,
body {
    font-family: "Arial", sans-serif;
    background: url("../img/pattern.jpg") repeat;
    height: 100%;
    width: 100%;
}

nav {
    #topic {
        padding: 0 10px 0 10px;
        width: 170px;
        img {
            width: 155px;
        }
    }
    #person {
        img {
            border-radius: 50%;
        }
    }
    .right {
        a {
            .icon-top {
                margin-top: -5px;
            }
        }
    }
}

#authorization {
    #form {
        position: relative;
        top: 80px;
        max-width: 855px;
        img {
            margin-bottom: 40px;
        }
        h1 {
            font-family: "Arial", sans-serif;
            margin-top: 0;
            margin-bottom: 15px;
            color: #373737;
            font-size: 1em;
            font-weight: 100;
        }
        .data {
            border-radius: 3px;
            border: 1px solid #eaeaea;
            height: 45px;
        }
        label {
            font-size: 1em;
            color: #373737;
        }
        a {
            color: #373737;
            font-size: 0.8125em;
        }
        #remember-label {
            font-size: 0.8125em;
        }
        #remember {
            margin-right: 7px;
        }
        button {
            background-image: linear-gradient(#48c322, #2b7e0a);
            box-shadow: 0 -3px 0 0 rgba(35, 99, 9, .9) inset;
            border: none;
            border-radius: 3px;
            padding: 11.5px 42px;
            font-size: 1.125em;
            font-weight: 500;
        }
    }
}

#home {
    #welcome {
        position: relative;
        top: 80px;
        max-width: 822px;
        h1 {
            font-family: "Arial", sans-serif;
            margin-top: 0;
            margin-bottom: 15px;
            color: #000;
            font-size: 1.125em;
            font-weight: bold;
            a {
                color: #373737;
                border-bottom: 2px dotted #9c9c9d;
            }
        }
        h2 {
            font-family: "Arial", sans-serif;
            margin-top: 0;
            margin-bottom: 15px;
            color: #373737;
            font-size: 1em;
            font-weight: 100;
        }
        img {
            width: 100%;
        }
    }
    .blocks {
        border-radius: 4px;
        border: 1px solid #d4d6d7;
        border-bottom: 4px solid #d4d6d7;
        background: #fbf8f8;
        height: 290px;
        transition: background 1s;
        a {
            display: block;
            height: 100%;
            outline: none;
        }
        .link {
            color: #373737;
            text-decoration: underline;
            font-weight: bold;
            font-size: 1.125em;
            &:hover {
                text-decoration: none;
            }
        }
        img {
            border-radius: 4px;
        }
        &:hover {
            background: #fff;
        }
    }
}

#cadrs {
    position: relative;
    height: 100%;
    #content {
        height: 100%;
        .tree-block{
            background: #f4f4f4;
            border: 1px solid #eaeaea;
            position: relative;
            height: 100%;
            top: 57px;
            border-top-right-radius: 5px;
            font-size: 1em;
            p {
                border: 1px solid #eaeaea;
                padding: 15px 10px;
                margin: 0;
                a {
                    float: right;
                    margin: 0 3px;
                }
            }
        }
        .right-content{
            .search{
                border: 1px solid #ccc;
                background: url("../img/icons/search.png") no-repeat right;
                background-position: 99%;
                padding: 0 10px;
                height: 40px;
            }
            p{
                color: #3c8db7;
                margin: 0; 
                padding-right: 10px;
                a {
                    float: right; 
                    margin: 10px 3px;
                }
            }
            small{
                font-size: 0.8125em;
            }
             table{
                width: 100%;
                .fired{
                    color: #e31010; 
                }
                .working{
                    color: #318e0f;
                }
                .vacation{
                    color: #5b9cce;
                }
                .sorting{
                    display: none;
                    background: #fff;
                    border-radius: 3px;
                    border: 1px solid #eaeaea;                    
                    text-align: left;
                    padding: 5px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    p{
                        color: #000;
                        position: relative;
                        left: 0;
                        margin: 0;
                        width: 80%;
                    }
                    input{
                        position: absolute;
                        margin-top: -18px;
                        right: 0;
                        text-align: right;
                    }
                }
                thead{    
                    .sort-click {
                        cursor: pointer;
                    }
                    tr{
                        th{
                            position: relative;
                            border: 1px solid #eaeaea;
                            line-height: 130%;
                            text-align: center;
                        }
                    }
                }
                tbody{
                    tr{                        
                        font-size: 0.875em;
                        text-align: center;
                        cursor: pointer;
                        &:hover{
                            background: #f5f5f5;
                        }
                        td{
                            border: 1px solid #eaeaea;
                        }
                    }
                }
            }
            .button{
                margin: 0 0px 15px 10px;
            }
        }
    }
    .top-link {
        text-align: left;
        margin: 30px 0;
        a {
            color: #979898;
            text-decoration: underline;
            margin: 0 15px;
            font-size: 1.14em;
            outline: none;
            &.active {
                color: #373737;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }
    #wrapper {
        text-align: center;
        position: relative;
        min-width: 1000px;
        height: 100%;
        .tabs-line {
            display: inline-block;
            text-align: center;
            position: relative;
            margin-left: 20px;
            width: 227px;
            .plus {
                font-weight: bold;
                font-size: 1em;
            }
        }
        h3 {
            background: #3c8db7;
            border: 1px solid #e2e2e2;
            border-bottom: 0 solid #e2e2e2;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding: 9px 0;
            margin: 0 0;
            margin-right: 15px;
            margin-bottom: -3px;
            text-align: center;
            color: #fff;
            font-family: "Arial", sans-serif;
            font-weight: 100;
            font-size: 1.1em;
            width: 227px;
            z-index: 2;
        }
    }
    #wrapper .none {
        display: none;
    }  
    #wrapper.tab1 div.tab1 {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #e2e2e2;
        border-top: 0;
        background: #fff;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    #wrapper.tab2 div.tab2 { 
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #e2e2e2;
        border-top: 0;
        background: #fff;
        display: block;
        height: 100%;
        width: 100%;
    }
    #wrapper.tab3 div.tab3 {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #e2e2e2;
        border-top: 0;
        background: #fff;
        display: block;
        height: 100%;
        width: 100%;
    }
    #wrapper.tab1 .tab1 h3 {
        background: #fff;
        color: #000;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 227px;
    }
    #wrapper.tab2 .tab2 h3 {
        background: #fff;
        color: #000;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 227px;
    }
    #wrapper.tab3 .tab3 h3 {
        background: #fff;
        color: #000;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 227px;
    }
    #tabs-map {
        height: 100%;
        position: relative;
        .map {
            background: url("../img/map.jpg") no-repeat center center;
            position: relative;
            margin: 0 auto;
            height: 550px;
            width: 933px;
            .marker {
                cursor: pointer;
                position: absolute;
                transition: height 0.5s, width 0.5s, margin 0.5s;
                z-index: 1;
                &:hover {
                    margin-top: -12px;
                    margin-left: -3px;
                    height: 37px;
                    width: 27px
                }
            }
            .popap {
                display: none;
                background: #e2e2e2;
                position: absolute;
                top: 50px;
                margin-left: -131px;
                left: 0;
                width: 297px;
                z-index: 2;
                h2 {
                    font-size: 0.8em;
                    margin: 3px 6px;
                }
                .triangle {
                    position: absolute;
                    left: 50%;
                    top: -8px;
                }
                .white-bg {
                    background: #fff;
                    border: 1px solid #e2e2e2;
                    padding: 3px 6px;
                    p{
                        font-size: 0.8em; 
                        margin: 0;
                    }
                }
            }
            .mouse-select{
                position: absolute;
                height: 27px;
                width: 27px;
            }
            
            #petropavlsk {
                top: 3.9%;
                left: 52%;
            }
            #kostanay {
                top: 10.1%;
                left: 40.5%;
            }
            #pavlodar {
                top: 17.9%;
                left: 69%;
            }
            #astana {
                top: 23%;
                left: 56.3%;
            }
            #uralsk {
                top: 17%;
                left: 13%;
            }
            #aktobe {
                top: 27.4%;
                left: 25.2%;
            }
            #semey {
                top: 25%;
                left: 76.2%;
            }
            #karaganda {
                top: 31.9%;
                left: 60.6%;
            }
            #atyrau {
                top: 41%;
                left: 11%;
            }
            #ust {
                top: 27%;
                left: 84%;
            }
            #aktau {
                top: 61%;
                left: 6.3%;
            }
            #kyzilorda {
                top: 60.5%;
                left: 42%;
            }
            #taldykorgan {
                top: 56.5%;
                left: 76.6%;
            }
            #almaty {
                top: 68.5%;
                left: 71.7%;
            }
            #taraz {
                top: 73%;
                left: 58.2%;
            }
            #shimkent {
                top: 77%;
                left: 53.5%;
            }
        }
    }
    .tab2 {}
    .tab3 {}
    .clearfix {
        clear: both;
    }
}

.button{
    background-image: linear-gradient(#faf7f7, #ffffff);
    border-bottom-width: 5px;
    border-radius: 5px;
    border-color: #dfe0e0;
    font-weight: 100;
    width: 140px;
    &.secondary{
        background: #fcf9f9;
    }
}

footer {
    color: #525252;
    position: absolute;
    font-size: 1em;
    bottom: 10px;
    width: 100%;
    z-index: 2;
}
