doctype html
html
	head
		title Test
	body
		p. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Nemo voluptatum maiores, id quasi, tenetur, 
			sint deserunt voluptates, facilis distinctio ipsum 
			iure maxime quam error cum? Aliquam dolores corporis magnam, quidem doloribus 
			laboriosam ut at totam repudiandae consequatur autem 
			harum quae quasi, ipsam incidunt labore quis mollitia fuga itaque officia ab!
		.content
			span Привет
			input(type="text").in#ar
			br
		.large-12.columns.large-centered
			a(href="#" target="_blank")
				img(src="img/bg.png" alt="bg")