@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";
html,
body {
	font-family: "Arial", sans-serif;
	background: url("../img/pattern.jpg") repeat;
	height: 100%;
	width: 100%;
	min-width: 1280px;
}

.test_chart {
	position: absolute;
    right: 4%;
    top: 20%;
    width: 30%;
    canvas{
    	height: auto;
    	width: 100%;
    }
}

.error_backend {
	padding: 0.375em 0.25em;
	display: none;
	margin-top: -30px;
	margin-bottom: 0;
	font-size: 0.75em;
	font-weight: 100;
	position: absolute;
	left: 100%;
	background: #c60f13;
	color: #fff;
	width: 30%;
}

a {
	&:focus {
		outline: none;
	}
}

nav {
	#topic {
		padding: 0 10px 0 10px;
		width: 170px;
		img {
			width: 155px;
		}
	}
	#person {
		img {
			border-radius: 50%;
		}
	}
	.right {
		a {
			.icon-top {
				margin-top: -5px;
			}
		}
	}
}

#authorization {
	position: absolute;
	width: 100%;
	height: 100%;
	#form {
		position: relative;
		top: 80px;
		max-width: 855px;
		img {
			margin-bottom: 40px;
		}
		h1 {
			font-family: "Arial", sans-serif;
			margin-top: 0;
			margin-bottom: 15px;
			color: #373737;
			font-size: 1em;
			font-weight: 100;
		}
		.data {
			border-radius: 3px;
			border: 1px solid #eaeaea;
			height: 45px;
		}
		label {
			font-size: 1em;
			color: #373737;
		}
		a {
			color: #373737;
			font-size: 0.8125em;
		}
		#remember-label {
			font-size: 0.8125em;
		}
		#remember {
			margin-right: 7px;
		}
		button {
			background-image: linear-gradient(#48c322, #2b7e0a);
			box-shadow: 0 -3px 0 0 rgba(35, 99, 9, .9) inset;
			border: none;
			border-radius: 3px;
			padding: 11.5px 42px;
			font-size: 1.125em;
			font-weight: 500;
		}
	}
}

#home {
	#welcome {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 822px;
		margin: -13% 0 0 -410px;
		h1 {
			font-family: "Arial", sans-serif;
			margin-top: 0;
			margin-bottom: 15px;
			color: #000;
			font-size: 1.125em;
			font-weight: bold;
			a {
				color: #373737;
				border-bottom: 2px dotted #9c9c9d;
			}
		}
		h2 {
			font-family: "Arial", sans-serif;
			margin-top: 0;
			margin-bottom: 15px;
			color: #373737;
			font-size: 1em;
			font-weight: 100;
		}
		img {
			width: 100%;
		}
	}
	.blocks {
		border-radius: 4px;
		border: 1px solid #d4d6d7;
		border-bottom: 4px solid #d4d6d7;
		background: #d4e7e9;
		height: 290px;
		transition: background 1s;
		&:hover{
			background: #fff;
		}
		p{
			margin: 0;
		}
		a {
			display: block;
			height: 100%;
			outline: none;
		}
		.link {
			color: #373737;
			text-decoration: underline;
			padding: 10px;
			font-weight: bold;
			font-size: 1.125em;
			&:hover {
				text-decoration: none;
			}
		}
		img {
			border-radius: 4px;
		}
		&:hover {
			background: #fff;
		}
	}
}

#cadrs {
	position: relative;
	height: 75%;
	margin-bottom: 50px;
	//&.registry{
	//  height: 70%;
	//}
	#content {
		height: 100%;
		.tab-container {
			position: relative;
			top: 1.5625%;
			height: 100%;
			.etabs {
				text-align: center;
				margin: 0;
				margin-bottom: 8px;
				.tab {
					&.active {
						a {
							background: #fff;
							color: #000;
							outline: none;
						}
					}
				}
				li {
					display: inline-block;
					list-style: none;
					a {
						background: #3c8db7;
						border: 1px solid #e2e2e2;
						border-bottom: 0 solid #e2e2e2;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
						padding: 12px 30px;
						margin: 10px;
						text-align: center;
						color: #fff;
						font-family: "Arial", sans-serif;
						font-weight: 100;
						font-size: 1.1em;
						z-index: 2;
					}
				}
			}
			.tab-wrapper {
				background: #fff;
				padding: 2% 0 0 0;
				&#tabs-emploayee {
					height: 100%;
					.left-block {
						height: 100%;
					}
				}
			}
			#add_employee {
				.profile {
					margin-top: 0;
				}
				input {
					border: 1px solid #a3a3a3;
					border-radius: 3px;
					padding: 5px;
				}
				.select-yes {
					background: #fff;
					border: 1px solid #D6D6D6;
				}
				select {
					border: 1px solid #a3a3a3;
					border-radius: 3px;
					padding: 5px;
				}
				.selectings{
					display: none;
				}
				p {
					margin: 20px 0;
					padding: 0;
					height: 26px;
				}
				.add-file {
					background: none;
					border-bottom: 1px solid #a3a3a3;
					padding: 0;
					color: #a3a3a3;
					cursor: pointer;
					position: absolute;
					font-size: 1em;
					top: auto;
					right: -120px;
				}
				.file_down {
					border: none;
					padding: 0;
					&:focus {
						outline: none;
					}
				}
				.select-new-add-right {
					// padding: 7px 0;
				}
				.select-new-add-left{
					color: #D6D6D6;
					&.black{
						color: #393939;
					}
				}
				.add-new-right {
					p {
						padding: 0.28rem 0;
					}
				}
			}
			#tabs-statistics {
				h2 {
					border-bottom: 1px solid #ccc;
					color: #393939;
					padding: 15px 25px;
					font-size: 1em;
					font-weight: 100;
				}
				.statistics-left {
					border: 1px solid #ccc;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
					ul {
						list-style-position: inside;
						list-style-image: url("../img/icons/download-grey.png");
						padding-left: 25px;
						font-size: 0.875em;
						li {
							padding: 5px 0;
							a {
								color: #393939;
							}
						}
					}
				}
				.statistics-right {
					border: 1px solid #ccc;
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
					margin: 0 0 10px 10px;
					select {
						position: absolute;
						left: 35px;
						width: 400px;
					}
					.staff {
						width: 125px;
					}
					.colors {
						margin-top: 6px;
						width: 25%;
						li {
							border-radius: 20px;
							margin-bottom: 15px;
							height: 14px;
						}
					}
					ul {
						padding-left: 25px;
						list-style: none;
						li {
							padding: 5px 0;
							color: #393939;
							font-size: 0.75em;
						}
					}
					.button {
						width: 200px;
					}
				}
			}
		}
		.tree-block {
			background: #fff;
			border: 1px solid #eaeaea;
			position: relative;
			height: 100%;
			border-top-right-radius: 5px;
			font-size: 1em;
			&.tree-block-edu{
				select{
					margin: 5px 0;
				}
				.search{
					margin: 5px 0 0 0;
				}
			}
			select {
				background: #fff;
				border: 1px solid #ccc;
				color: #9e9e9e;
				font-size: 0.9em;
				background-position: 99%;
				padding: 0 10px;
				margin: 10px 0;
				height: 30px;
				option {
					&:focus {
						outline: none;
					}
				}
			}
			.search {
				border: 1px solid #ccc;
				color: #000;
				background: url("../img/icons/search-mini.png") no-repeat right #fff;
				background-position: 99%;
				padding: 0 14px;
				margin: 0;
				margin-top: -2px;
				height: 30px;
			}
			p {
				background: #f4f4f4;
				border: 1px solid #eaeaea;
				padding: 15px 10px;
				margin: 0;
				a {
					float: right;
					margin: 0 3px;
				}
			}
			.mtree {
				overflow-y: scroll;
				height: 90%;
				position: absolute;
				list-style-position: inside;
				list-style-image: url("../img/icons/book-grey.png");
				padding-right: 15px;
				width: 100%;
				ul {
					list-style-position: inside;
					list-style-image: url("../img/icons/book-grey.png");
				}
				.tree-list {

				}
				li {
					position: relative;
					border-top: 1px solid #e3e3e3;
					padding: 5px 15px;
					.arrow {
						background: url("../img/icons/arrow-top.png") no-repeat;
						position: absolute;
						top: 15px;
						right: 5px;
						height: 5px;
						width: 9px;
					}
					a {
						color: #000;
						font-size: 0.875em;
					}
					&.mtree-open {
						list-style-image: url("../img/icons/book-green.png");
						overflow: hidden;
					}
					&.mtree-node {
						// max-height: 300px;
						// overflow-y: auto;
					}
					&.mtree-active {
						background: #eaeaea;
						a {
							color: #3c8db7;
						}
						ul {
							li {
								a {
									color: #000;
								}
							}
						}
						.arrow {
							background: url("../img/icons/arrow-bottom.png") no-repeat !important;
						}
					}
				}
				&.mtree-education{
					height: 72%;
					li{
						.arrow{
							background: none;
						}
					}
				}
			}
		}
		.pagination {
			padding-top: 10px;
		}
		.right-content {
			height: 100%;
			overflow: hidden;
			.vertical{
				display: table;
				height: 50px;
			}
			.child-ver{
				vertical-align: middle;
				display: table-cell;
			}
			.fixed-top {
				height: 100%;
				margin-bottom: 0;
			}
			.search {
				border: 1px solid #ccc;
				background: url("../img/icons/search.png") no-repeat right;
				background-position: 99%;
				padding: 0 10px;
				height: 40px;
			}
			p {
				color: #3c8db7;
				margin: 0;
				padding-right: 10px;
				a {
					float: right;
					margin: 10px 3px;
				}
			}
			button {
				width: auto;
			}
			small {
				font-size: 0.8125em;
			}
			.download-all {
				padding-left: 25px;
				padding-top: 13px;
			}
			.table {
				display: table;
				border-spacing: 0;
				height: 100%;
				position: relative;
				width: 100%;
				.thead {
					height: 100%;
				}
				.tr {
					height: auto;
					display: table-row;
					font-size: 0.875em;
					text-align: center;
					cursor: pointer;
					&:hover {
						background: #f5f5f5;
					}
				}
				.header-table {
					background: #f5f5f5;
					top: 0;
					font-weight: bold;
					.td {
						background: url("../img/icons/arrow-bottom.png") 90% no-repeat;
					}
				}
				.td {
					border: 1px solid #eaeaea;
					height: 100%;
					vertical-align: middle;
					padding: 1% 0.5%;
					line-height: 130%;
					text-align: center;
					float: none;
					display: table-cell;
					&.numbering {
						background: none;
						width: 6%;
					}
					&.numbering-symbol {
						background: url("../img/icons/arrow-bottom.png") 98% no-repeat;
						width: 6%;
					}
					&.fio-symbol{
						background: url("../img/icons/arrow-bottom.png") 60% no-repeat;
						width: 26%;
					}
					&.fio {
						width: 26%;
					}
					&.number-phone {

						width: 12%;
					}
					&.number-symbol{
						background: url("../img/icons/arrow-bottom.png") 95% no-repeat;
					}
					&.iin {
						background: none;
						width: 22%;
					}
					&.position {
						width: 13%;
					}
					&.status {
						width: 10%;
					}
				}
				.fixed-top {
					margin-bottom: 0;
					max-height: 450px;
				}
				.display {
					width: 800px;
					margin: 0 auto;
				}
				.tbody {
					display: table;
					width: 100%;
				}
				.sort-click {
					cursor: pointer;
					position: relative;
				}
				.fired {
					color: #e31010;
				}
				.working {
					color: #318e0f;
				}
				.vacation {
					color: #5b9cce;
				}
				.sorting {
					display: none;
					background: #fff;
					border-radius: 0px;
					border: 1px solid #9E9E9E;
					box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.75);
					text-align: left;
					padding: 6px;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					z-index: 3;
					&.width-text{
						width: 20em;
    				left: -76px;
					}
					p {
						color: #000;
						position: relative;
						left: 0;
						margin: 0;
						width: 100%;
						border-bottom: 1px solid #ccc;
					}
					input {
						position: absolute;
						margin-top: -18px;
						right: 7px;
						text-align: right;
					}
					.ok {
						right: 0px;
						padding: 0px 1px;
						margin-top: -22px;
					}
					.last {
						background: #eaeaea;
					}
				}
				thead {
					tr {
						th {
							position: relative;
							border: 1px solid #eaeaea;
							line-height: 130%;
							text-align: center;
						}
					}
				}
				tbody {
					tr {
						font-size: 0.875em;
						text-align: center;
						cursor: pointer;
						&:hover {
							background: #f5f5f5;
						}
						td {
							border: 1px solid #eaeaea;
						}
					}
				}
				&.table-education{
					// min-width: 1180px;
					.td {
							background: none;
							width: 11%;
							@media only screen and(max-width: 1582px){
								font-size: 0.75em;
							}
							&.arrow-bottom-edu{
								background: url("../img/icons/arrow-bottom.png") 95% no-repeat;
								b{
									display: block;
									width: 90%;
								}
								.width-text{
									width: 14em;
							    right: 0;
							    left: auto;
								}
							}
							&.numbering-symbol {
								width: 5%;
							}
							// &.region {
							// 	width: 10%;
							// }
							// &.fio {
							// 	min-width: 15%;
							// }
							// }
							// &.date {
							// 	width: 12%;
							// }
						}
						&.higher{
							background: none;
							width: 10%;
						}

						&.fio-symbol{
							background: none;
							width: 26%;
						}
						&.region{
								width: 10%;
						}
						&.number-phone {
							width: 12%;
						}
						&.number-symbol{
							background: none;
						}
						&.date {
							background: none;
							width: 10%;
						}
						&.position {
							width: 13%;
						}
						&.status {
							width: 15%;
						}
						.sorting{
							background: #fff;
					    border-radius: 0px;
					    border: 1px solid #9E9E9E;
					    box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.75);
					    text-align: left;
					    padding: 6px;
					    position: absolute;
					    top: 100%;
					    left: auto;
					    right: 0;
					    width: 11em;
					    z-index: 3;
						}
					}
				}
			}

			.button {
				margin: 0 0px 15px 10px;
			}
		}
	}
	.top-link {
		text-align: left;
		margin: 1.9% 0;
		a {
			color: #979898;
			text-decoration: underline;
			margin: 0 15px;
			font-size: 1.14em;
			outline: none;
			&.active {
				color: #373737;
				text-decoration: none;
				font-weight: bold;
				font-size: 1.5em;
			}
		}
		.maps-text {
			margin-top: 5px;
			img {
				margin-top: -5px;
			}
		}
	}
	#tabs-map {
		height: 100%;
		min-width: 933px;
		position: relative;
		.map {
			background: url("../img/map.jpg") no-repeat center center;
			position: relative;
			margin: 0 auto;
			height: 550px;
			width: 933px;
			.marker {
				cursor: pointer;
				position: absolute;
				transition: height 0.5s, width 0.5s, margin 0.5s;
				z-index: 1;
				&:hover {
					margin-top: -12px;
					margin-left: -3px;
					height: 37px;
					width: 27px
				}
				&.radius-30 {
					margin-left: 8px;
				}
				&.radius-120 {
					margin-left: -8px;
				}
			}
			.popap {
				display: none;
				background: #e2e2e2;
				position: absolute;
				top: 50px;
				margin-left: -145px;
				left: 0;
				width: 297px;
				z-index: 2;
				h2 {
					font-size: 0.8em;
					margin: 3px 6px;
				}
				.triangle {
					position: absolute;
					left: 50%;
					top: -8px;
				}
				.white-bg {
					background: #fff;
					border: 1px solid #e2e2e2;
					padding: 3px 6px;
					p {
						font-size: 0.8em;
						margin: 0;
					}
				}
			}
			.mouse-select {
				position: absolute;
				height: 27px;
				width: 27px;
				h3 {
					color: #352D24;
					font-size: 1em;
					font-weight: bold;
					position: absolute;
					margin-top: 38px;
					margin-left: -45px;
				}
			}
			#kokshetau {
				top: 16%;
				left: 56.1%;
				h3 {
					font-size: 1em;
					font-weight: bold;
					position: absolute;
					margin-top: 30px;
					margin-left: -70px;
				}
			}
			#petropavlsk {
				top: 3.9%;
				left: 53.4%;
			}
			#kostanay {
				top: 10.1%;
				left: 42%;
				h3 {
					margin-top: 35px;
					margin-left: -30px;
				}
			}
			#pavlodar {
				top: 17.9%;
				left: 70.5%;
				h3 {
					margin-left: -30px;
				}
			}
			#astana {
				top: 23%;
				left: 56%;
			}
			#astanaBig {
				top: 23%;
				left: 59.5%;
			}
			#uralsk {
				top: 17%;
				left: 14.5%;
			}
			#aktobe {
				top: 27.4%;
				left: 26.6%;
				h3 {
					margin-top: 35px;
					margin-left: -20px;
				}
			}
			#semey {
				top: 25%;
				left: 77.6%;
				h3 {
					margin-top: 35px;
					margin-left: -15px;
				}
			}
			#karaganda {
				top: 31.9%;
				left: 61.9%;
				h3 {
					margin-top: 30px;
					margin-left: -25px;
				}
			}
			#atyrau {
				top: 41%;
				left: 12.5%;
				h3 {
					margin-top: 20px;
					margin-left: 20px;
				}
			}
			#ust {
				top: 27%;
				left: 85.4%;
				h3 {
					width: 150px;
					margin-top: 20px;
					margin-left: 20px;
				}
			}
			#aktau {
				top: 61%;
				left: 7.8%;
				h3 {
					margin-top: 20px;
					margin-left: 20px;
				}
			}
			#kyzilorda {
				top: 60.5%;
				left: 43.4%;
			}
			#taldykorgan {
				top: 56.5%;
				left: 78%;
			}
			#almaty {
				top: 68.5%;
				left: 73%;
				h3 {
					margin-top: 20px;
					margin-left: 25px;
				}
			}
			#almatyBig {
				top: 68.5%;
				left: 73%;
				h3 {
					margin-top: 20px;
					margin-left: 25px;
				}
			}
			#taraz {
				top: 73%;
				left: 59.4%;
				h3 {
					margin-top: 15px;
					margin-left: 20px;
				}
			}
			#shimkent {
				top: 77%;
				left: 54.7%;
				h3 {
					margin-top: 30px;
					margin-left: -70px;
				}
			}
			#ushkonir {
				top: 65%;
				left: 70%;
				h3 {
					font-size: 0.7em;
					margin-top: 20px;
					margin-left: -50px;
				}
			}
		}
	}
	.profile {
		background: #fff;
		height: auto;
		padding-bottom: 2.8%;
		margin-bottom: 1%;
		position: relative;
		margin-top: 1%;
		border-radius: 4px;
		width: 100%;
		h2 {
			border-bottom: 1px solid #e3e3e3;
			font-size: 1.5em;
			margin: 0;
			padding: 0.2% 0;
		}
		.back {
			position: absolute;
			top: 12px;
			left: 10px;
			text-decoration: underline;
		}
		.radius{
		    border-radius: 50%;
		    height: 115px;
		    width: 115px;
		    overflow: hidden;
		    margin: 10px auto;
		}
		.img-profile {
			margin-top: 1%;
			height: 115px;
			width: 115px;
		}
		a {
			text-decoration: underline;
			font-size: 1.1em;
		}
		.download-all {
			margin-top: 0.5%;
			img {
				margin: 0 0.2%;
			}
			&.none {
				display: none;
			}
		}
		.section-edit {
			background: #f4f4f4;
			font-size: 1em;
			padding: 2% 0;
			color: #373737;
		}
		.add_input {
			background: #3c8db7;
			display: none;
			cursor: pointer;
			color: #fff;
			padding: 4px 12px;
			margin-top: -49px;
			font-size: 2em;
			margin-right: -55px;
			&.visible{
				display: block;
			}
		}
		.del_input {
			background: #D6D6D6;
			display: none;
			cursor: pointer;
			color: #fff;
			padding: 4px 15px;
			margin-top: -49px;
			font-size: 2em;
			margin-right: -105px;
			&.visible{
				display: block;
			}
		}
		.edit-input {
			small {
				&.error {
					// display: table;
					padding: 0.375em 0.25em;
					margin-top: -30px;
					margin-bottom: 0;
					font-size: 0.75em;
					font-weight: 100;
					position: absolute;
					left: 100%;
					background: #c60f13;
					color: #fff;
					width: 30%;
				}
			}
			p {
				margin: 0 0 1.6px 0;
			}
			select {
				margin: 0 0 1.6px 0;
				height: 30px;
				padding: 0;
				border: 0;
				&:focus {
					outline: 0;
				}
			}
		}
		.edit-profile {}
		.scroll-btn {
			background: #3c8db7;
			border-top: 4px solid #eaeaea;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 3;
		}
		.edit-section {
			background: url("../img/icons/pencil.png") no-repeat left center;
			border: 0px;
			color: #a3a3a3;
			cursor: pointer;
			padding-left: 20px;
			padding-top: 0.8125em;
			padding-bottom: 0.75em;
			position: absolute;
			font-size: 1em;
			top: 0;
			right: -235px;
			&:focus {
				border: 0;
				outline: none;
			}
			&:active {
				box-shadow: none;
			}
		}
		.button {
			margin-top: 1%;
			margin-bottom: 8px;
			font-weight: bold;
			width: 212px;
			z-index: 2;
		}
		.section {
			margin-top: 1%;
		}
		select {
			border: 1px solid #a3a3a3;
			border-radius: 3px;
			padding: 5px;
		}
		.selectings{
			    border: 1px solid rgb(204, 204, 204);
					display: none;
				}
		p {
			color: #393939;
			font-size: 1em;
			margin: 0 0 7px 0;
			padding: 7px 0;
		}
		input {
			background: #fff;
			border-radius: 3px;
			color: #000;
			border: 1px solid #ccc;
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
			font-size: 1em;
			margin: 0 0 0 0;
			padding: 5px;
			height: 30px;
		}
		.select-yes {
					background: #fff;
					border: 1px solid #D6D6D6;
				}
		.file_down {
			border: none;
			padding: 0;
			&:focus {
				outline: none;
			}
		}
	}
	#edit-profile {
		.profile {
			margin-top: 0;
		}
		input {
			border: 1px solid #a3a3a3;
			border-radius: 3px;
			padding: 5px;
		}
		select {
			border: 1px solid #a3a3a3;
			border-radius: 3px;
			padding: 5px;
		}
		p {
			padding: 7px 0;
		}
		.add-file {
			background: none;
			border-bottom: 1px solid #a3a3a3;
			padding: 0;
			color: #a3a3a3;
			cursor: pointer;
			position: absolute;
			font-size: 1em;
			top: auto;
			right: -120px;
		}
		.file_down {
			border: none;
			padding: 0;
			&:focus {
				outline: none;
			}
		}
	}


.clearfix {
	clear: both;
}

.button {
	background-image: linear-gradient(#faf7f7, #ffffff);
	border-bottom-width: 5px;
	border-radius: 5px;
	border-color: #dfe0e0;
	font-weight: 100;
	width: 140px;
	&.secondary {
		background: #fcf9f9;
	}
}

footer {
	color: #525252;
	position: absolute;
	font-size: 1em;
	bottom: 20px;
	height: 5px;
	padding: 0;
	width: 100%;
	z-index: 2;
	small {
		padding: 10px;
	}
}
